/* Common Styles */
div {
  border: 1px solid red;
  margin: 0px;
}
/* common nav style */
.navigation-wrapper {
  height: 190px;
  background-color: #11122b;
  color: #cbcbcb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px 60px 100px;
}
.contact-hours-wrapper {
  color: royalblue;
}
.address-wrapper {
  color: red;
}
